@import "~@angular/material/_theming";
@include mat-core();

// Define custom theme
$app-primary: mat-palette($mat-blue, 900);
$app-accent: mat-palette($mat-yellow, 700);
$app-warn: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme); 

// define custom typography
$app-typography:  mat-typography-config(
    $font-family:   'Montserrat,  "Helvetica Neue", sans-serif',
    $headline:      mat-typography-level(35px, 52px, 700), // same as h1
    $body-1:        mat-typography-level(14px, 20px, 800), // same as p 
);

@include angular-material-typography($app-typography);