<hr>
<mat-form-field appearance="fill" >     
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings"  >  
        <mat-option>None</mat-option>    
        <mat-option *ngFor="let topping of toppingList" [value]="topping" (click)="displayValue()">{{topping}} </mat-option>
    </mat-select>
</mat-form-field>
  