<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<!-- <app-checkbox></app-checkbox> -->

<!-- <app-radio-button></app-radio-button> -->

<!-- <app-select></app-select> -->

<!-- <app-dialog></app-dialog> -->

<button mat-raised-button color="primary">button 1</button>
<button mat-raised-button color="accent">button 2</button>

<h1 >Heading 1</h1>
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultricies felis purus, vel tempor felis consectetur eu. Nulla eget lacus dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce egestas tincidunt blandit. Phasellus sed nisi sit amet sem accumsan tempor vel et nibh. Mauris ultricies risus vel turpis feugiat, id vestibulum lectus lacinia. Vivamus quis urna porttitor, dictum ligula in, imperdiet enim. Nam auctor ultrices nisi ac viverra. Vivamus tristique lobortis quam eu fermentum. Praesent felis felis, ullamcorper id interdum at, ullamcorper nec mi.</p>