<mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1" (change)="onChange($event)">Option 1</mat-radio-button>
    <mat-radio-button value="2" (change)="onChange($event)">Option 2</mat-radio-button>
    <mat-radio-button value="3" (change)="onChange($event)">Option 3</mat-radio-button>
</mat-radio-group>
<h4>Option: {{option}}</h4>


<mat-radio-group 
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
>
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season" (change)="changeFavorite($event)">
            {{season}}
    </mat-radio-button>
</mat-radio-group>

<div>Your favorite season is: {{favoriteSeason}}</div>