<mat-checkbox 
    class="example-margin"
    [value]="''"
    [checked]="isChecked"
    (change)="onChange($event)"
    #showDetails
>
        Show details
</mat-checkbox>
<div *ngIf="showDetails.checked"> Lorem ipsum ....</div>