/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap";

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }
